body {
  background-color: #e3ebfb !important;
  box-sizing: border-box;
}

.add-item-container {
  margin: 50px auto;
  padding: 60px 70px;
  border-radius: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  align-items: flex-start;
  color: #0f1730;
}
.add-item-container > h1 {
  font-size: 28px;
  padding-bottom: 31px;
  font-weight: 700;
}
.add-item-container > span {
  font-size: 16px;
  padding-bottom: 25px;
  font-weight: 500;
}

.add-item-checkbox-item {
  width: 50%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #555b6d;
}
.add-item-checkbox-item input[type="radio"]:checked {
  background-color: #505157;
}
.add-item-txt-label {
  font-weight: 500;
}
.input-text {
  margin-bottom: 25px;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.button {
  width: 165px;
  height: 51px;
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;
  border-style: none;
}
.light {
  background-color: white;
  color: #171e39;
}
.dark {
  background-color: #171e39;
  color: white;
}
.light:hover {
  border: 1px solid #ced4da;
}
@media screen and (max-width: 600px) {
  .add-item-container {
    width: 90vw;
  }
}
